{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h1>Assets</h1>
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>Org</th>
            <th>Type</th>
            <th>Comment</th>
            <th>Created</th>
            <th>Modified</th>
            {% if perms.web.delete_asset %}
            <th>Modify</th>
            {% endif %}
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{object.name}}</td>
            <td>{{object.org}}</td>
            <td>{{object.type}}</td>
            <td>{{object.comment|linebreaks}}</td>
            <td>{{object.created|date:"Y-m-d H:i:s"}}</td>
            <td>{{object.modified|date:"Y-m-d H:i:s"}}</td>
            {% if perms.web.delete_asset %}
            <td><a href="{% url 'asset-update' object.id %}">update</a>
                <a href="{% url 'asset-delete' object.id %}">delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
</div>
{% endblock content %}
